@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProBold.woff2") format("woff2"), url("../fonts/GothamProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProMedium.woff2") format("woff2"), url("../fonts/GothamProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* line 5, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}

/* line 103, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, F:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 109, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
input, textarea {
  font: inherit;
}

/* line 120, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
body {
  overflow-x: hidden;
  background-color: #fff;
  font: 400 14px/1.2 "Proxima Nova", sans-serif;
  font-size: 14px;
  font-size: 1.27vw;
}

@media (max-width: 1023.62205px) {
  /* line 120, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  body {
    font-size: 13px;
  }
}

@media (min-width: 1181.10236px) {
  /* line 120, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  body {
    font-size: 15px;
  }
}

/* line 126, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* line 131, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
h1,
h2,
h4,
nav,
input[type="submit"] {
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
}

/* line 139, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
h1,
h2,
h4,
input[type="submit"] {
  font-weight: 700;
}

/* line 145, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
input[type="submit"],
button {
  cursor: pointer;
}

/* line 149, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
img {
  width: 100%;
}

/* line 152, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.underline {
  position: relative;
  width: 4px;
  height: 4px;
  margin: 1vw auto 3.125vw;
  border-radius: 50%;
  background-color: #f8c957;
}

/* line 159, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.underline::before, .underline::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 65px;
  height: 1px;
  background-color: #f8c957;
}

/* line 168, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.underline::before {
  left: 425%;
}

/* line 171, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.underline::after {
  right: 425%;
}

/* line 177, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.header-main-wrap {
  padding: 1.44vw 1vw 4.69vw;
  background: url("../images/1-min.png") 100% 50%/cover;
  color: #fff;
}

@media (max-width: 800px) {
  /* line 177, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .header-main-wrap {
    background-position-x: 90%;
  }
}

@media (max-width: 520px) {
  /* line 177, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .header-main-wrap {
    background-position-x: 65%;
  }
}

/* line 188, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

@media (max-width: 520px) {
  /* line 188, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  header {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* line 198, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.logo {
  display: block;
  width: 16.66667%;
  min-width: 150px;
  margin-right: 9.11467%;
}

@media (max-width: 800px) {
  /* line 198, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .logo {
    margin-right: 2vw;
  }
}

@media (max-width: 520px) {
  /* line 198, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .logo {
    margin: auto;
    margin-bottom: 2vw;
  }
}

/* line 212, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
nav li {
  display: inline-block;
  padding-right: 3vw;
  text-align: center;
}

/* line 216, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
nav li a {
  border-bottom: 1px solid transparent;
  line-height: 2.143;
  -webkit-transition: border-bottom 0.3s;
  -moz-transition: border-bottom 0.3s;
  -o-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

/* line 220, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
nav li a:hover {
  border-bottom: 1px solid #ffc016;
}

@media (min-width: 1300px) {
  /* line 226, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  nav li {
    padding-right: 49px;
  }
}

@media (max-width: 800px) {
  /* line 211, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  nav {
    margin-left: auto;
  }
  /* line 232, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  nav li:last-of-type {
    padding-right: 0;
  }
}

@media (max-width: 520px) {
  /* line 211, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  nav {
    margin: auto;
  }
}

/* line 240, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.contacts {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto;
  font-weight: 300;
  line-height: 2.14;
}

/* line 246, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.contacts a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

/* line 250, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.contacts a:not(:first-of-type) {
  margin-left: 2vw;
}

/* line 253, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.contacts a:hover {
  color: #dedede;
}

@media (max-width: 800px) {
  /* line 240, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .contacts {
    margin-left: auto;
  }
}

@media (max-width: 520px) {
  /* line 240, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .contacts {
    margin: auto;
    margin-top: 2vw;
  }
}

/* line 265, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 0.94vw;
}

/* line 271, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.icon.tel {
  background: url(../images/phone-call.svg);
}

/* line 274, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.icon.email {
  background: url(../images/envelope.svg);
}

/* line 278, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
main {
  max-width: 1100px;
  margin: 10.31vw auto 0;
}

/* line 282, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
h1 {
  font-size: 60px;
  font-size: 5.45vw;
  letter-spacing: 3px;
  line-height: 0.5;
  margin-bottom: 1.62vw;
}

@media (max-width: 605.50459px) {
  /* line 282, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  h1 {
    font-size: 33px;
  }
}

@media (min-width: 1834.86239px) {
  /* line 282, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  h1 {
    font-size: 100px;
  }
}

/* line 288, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
h3 {
  font-size: 24px;
  font-size: 2.18vw;
  padding-right: 17vw;
}

@media (max-width: 733.94495px) {
  /* line 288, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  h3 {
    font-size: 16px;
  }
}

@media (min-width: 2293.57798px) {
  /* line 288, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  h3 {
    font-size: 50px;
  }
}

/* line 292, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.main__consult {
  position: relative;
  width: 27.81vw;
  min-width: 495px;
  margin-top: 5.94vw;
  padding: 2.44vw 1.88vw 2.13vw;
  box-shadow: 3px 10px 50px #000;
}

/* line 299, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.main__consult::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 47, 64, 0.55);
  mix-blend-mode: multiply;
}

/* line 309, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.main__consult h4 {
  color: #f8c957;
  margin-bottom: 2.13vw;
  font-size: 14px;
  font-size: 1.26vw;
  letter-spacing: 0.7px;
  line-height: 1.71;
  text-align: center;
}

@media (max-width: 1031.74603px) {
  /* line 309, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .main__consult h4 {
    font-size: 13px;
  }
}

@media (min-width: 1587.30159px) {
  /* line 309, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .main__consult h4 {
    font-size: 20px;
  }
}

/* line 317, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.main__consult form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

/* line 323, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.main__consult input {
  display: block;
  width: 46%;
  min-width: 200px;
  min-height: 35px;
  color: inherit;
}

/* line 330, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.main__consult input[type="text"] {
  margin-bottom: calc(2vw - 5px);
  padding: 5px;
  border: none;
  background: transparent;
  font: inherit;
  font-weight: 300;
  text-align: center;
}

/* line 339, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.main__consult input[type="submit"] {
  padding: 1vw;
  border: 1px solid #f3c12f;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 344, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.main__consult input[type="submit"]:hover {
  background-color: #f3c12f;
}

@media (min-width: 1300px) {
  /* line 292, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .main__consult {
    min-width: 615px;
  }
}

@media (max-width: 800px) {
  /* line 292, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .main__consult {
    min-width: 400px;
  }
}

@media (max-width: 520px) {
  /* line 292, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .main__consult {
    width: 100%;
    min-width: initial;
  }
}

/* line 361, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantages {
  padding: 9vw 0 11.44vw 0;
}

/* line 363, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantages__wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  max-width: 1100px;
  margin: auto;
}

/* line 370, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantages .img-wrap {
  width: 62px;
  height: 62px;
  margin: auto;
}

/* line 375, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantages p {
  color: #8b8b8b;
}

/* line 379, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantage {
  width: calc(25% - 2 * 1.88vw);
  min-width: 222px;
  text-align: center;
  cursor: default;
}

/* line 384, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantage:hover .img-wrap,
.advantage:hover h4 {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* line 388, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantage:hover .line {
  width: 7.88vw;
}

/* line 391, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantage:hover p {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}

/* line 394, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantage .img-wrap {
  margin-bottom: 1.56vw;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}

/* line 398, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantage h4 {
  text-align: center;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}

/* line 403, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantage .line {
  width: 1.94vw;
  height: 1px;
  margin: 1.2vw auto 1.06vw;
  background: #f8c957;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

/* line 410, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.advantage p {
  font-weight: 300;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}

@media (max-width: 950px) {
  /* line 379, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .advantage {
    margin-bottom: 2vw;
  }
}

/* line 420, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.what {
  position: relative;
  height: 425px;
  background-image: url(../images/home-1-min.png);
  color: #fff;
}

/* line 425, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.what::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 89%;
  max-width: 980px;
  border-radius: 8%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 436, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.what__wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  top: -3vw;
  bottom: -3vw;
  left: 50%;
  width: 89%;
  max-width: 980px;
  padding: 6.125vw 4.875vw 5.9375vw 5.9375vw;
  box-shadow: 0 23px 90px 10px rgba(0, 0, 0, 0.25);
  background-color: #2b2f40;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 451, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.what h2 {
  margin-bottom: 2.06vw;
  color: #f8c957;
  font-weight: 500;
  font-size: 24px;
  font-size: 1.5vw;
  line-height: 0.75;
}

@media (max-width: 1200px) {
  /* line 451, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .what h2 {
    font-size: 18px;
  }
}

@media (min-width: 1866.66667px) {
  /* line 451, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .what h2 {
    font-size: 28px;
  }
}

/* line 458, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.what .img-wrap {
  width: 40.2%;
  max-width: 334px;
}

@media (min-width: 1300px) {
  /* line 463, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .what__wrap {
    padding: 98px 78px 95px 98px;
  }
  /* line 466, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .what h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 950px) {
  /* line 471, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .what__wrap {
    width: 90%;
  }
}

@media (max-width: 800px) {
  /* line 420, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .what {
    height: auto;
  }
  /* line 477, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .what__wrap {
    position: static;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  /* line 482, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .what .img-wrap {
    -webkit-order: 1;
    order: 1;
    width: 100%;
    max-width: 260px;
    margin: auto;
    margin-bottom: 2vw;
  }
}

/* line 492, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.ui-accordion .ui-accordion-header {
  margin: 0;
  padding: 0;
  padding-left: calc(18px + 1.06vw);
  font-size: 18px;
  font-size: 1.125vw;
  line-height: 1.1;
  outline: 0;
}

@media (max-width: 1422.22222px) {
  /* line 492, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .ui-accordion .ui-accordion-header {
    font-size: 16px;
  }
}

@media (min-width: 1688.88889px) {
  /* line 492, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .ui-accordion .ui-accordion-header {
    font-size: 19px;
  }
}

@media (min-width: 1300px) {
  /* line 492, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .ui-accordion .ui-accordion-header {
    padding-left: 38px;
  }
}

/* line 503, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.ui-icon {
  position: absolute;
  top: 10px;
  left: 0;
}

/* line 507, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.ui-icon.iconOpen {
  background: url("../images/arrow-up-min.png") no-repeat;
  background-size: 18px;
  width: 18px;
  height: 13px;
}

/* line 513, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.ui-icon.iconClosed {
  background: url("../images/arrow-down-min.png") no-repeat;
  background-size: 18px;
  width: 18px;
  height: 13px;
}

/* line 520, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.ui-accordion .ui-accordion-content {
  position: relative;
  left: -0.125vw;
  padding: 0;
  padding-top: 1.125vw;
  color: #bababa;
  font-weight: 300;
}

@media (min-width: 1300px) {
  /* line 520, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .ui-accordion .ui-accordion-content {
    padding-top: 18px;
  }
}

/* line 531, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.accordion-container {
  width: 56.5%;
}

@media (max-width: 800px) {
  /* line 531, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .accordion-container {
    -webkit-order: 2;
    order: 2;
    width: 100%;
  }
}

/* line 538, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.accordion h3 {
  margin-bottom: 2.06vw;
}

/* line 540, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.accordion h3:not(:first-of-type) {
  margin-top: 2.43vw;
}

@media (min-width: 1300px) {
  /* line 538, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .accordion h3 {
    margin-bottom: 33px;
  }
  /* line 545, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .accordion h3:not(:first-of-type) {
    margin-top: 35px;
  }
}

/* line 552, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how {
  padding: 8.19vw 0 7.56vw;
  background: #f5f5f5;
}

/* line 555, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__wrap {
  max-width: 980px;
  margin: auto;
}

/* line 559, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how h2 {
  color: #35495f;
  font-size: 22px;
  font-size: 2vw;
  text-align: center;
}

@media (max-width: 850px) {
  /* line 559, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .how h2 {
    font-size: 17px;
  }
}

@media (min-width: 1400px) {
  /* line 559, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .how h2 {
    font-size: 28px;
  }
}

/* line 564, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 569, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item {
  width: 35.71%;
  max-width: 350px;
  min-width: 300px;
  margin: 0 auto 3.875vw;
  text-align: center;
}

/* line 575, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item__marker {
  margin-bottom: 1.625vw;
  color: #f8c957;
  font: 700 100px/0.7 "Gotham Pro", sans-serif;
}

/* line 579, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item__marker img {
  position: relative;
  width: 47px;
  height: 47px;
  margin-left: -50px;
}

/* line 586, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item:nth-of-type(1) img {
  bottom: 3px;
  left: 2px;
}

/* line 590, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item:nth-of-type(2) img {
  bottom: 1px;
  left: -9px;
}

/* line 594, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item:nth-of-type(3) img {
  bottom: -9px;
  left: -8px;
}

/* line 598, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item:nth-of-type(4) img {
  bottom: -1px;
  left: -6px;
}

/* line 602, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item h4 {
  margin-bottom: 2.125vw;
  font-weight: 500;
}

/* line 606, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.how__item p {
  color: #8b8b8b;
  font-weight: 300;
}

/* line 614, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages {
  padding-top: 5.69vw;
  font-size: 14px;
  font-size: 1.27vw;
  text-align: center;
}

@media (max-width: 1023.62205px) {
  /* line 614, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .stages {
    font-size: 13px;
  }
}

@media (min-width: 1102.3622px) {
  /* line 614, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .stages {
    font-size: 14px;
  }
}

/* line 618, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__wrap {
  max-width: 1600px;
  margin: auto;
}

/* line 622, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages h2 {
  color: #35495f;
  font-size: 22px;
  font-size: 2vw;
}

@media (max-width: 850px) {
  /* line 622, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .stages h2 {
    font-size: 17px;
  }
}

@media (min-width: 1400px) {
  /* line 622, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .stages h2 {
    font-size: 28px;
  }
}

/* line 626, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  counter-reset: stages;
}

/* line 631, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 1 0 300px;
  flex: 1 0 300px;
  position: relative;
  height: 394px;
}

/* line 639, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item:nth-of-type(1) {
  background: url("../images/fz-261-zdaniya-i-sooruzheniya-min.png") 50% 50%/cover;
}

/* line 642, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item:nth-of-type(2) {
  background: url("../images/1482764794-min.png") 50% 50%/cover;
}

/* line 645, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item:nth-of-type(3) {
  background: url("../images/practice_03-L43-1024x768-min.png") 50% 50%/cover;
}

/* line 648, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(43, 47, 64, 0.91);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 660, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item__outer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.73);
  width: 100%;
  min-height: 120px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 672, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item__marker {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  top: 7px;
  width: 44px;
  height: 44px;
  background-color: #f8c23f;
  color: #fff;
  font: 700 24px/1 "Gotham Pro", sans-serif;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 684, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item__marker::before {
  content: counter(stages);
  counter-increment: stages;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 694, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item h4 {
  color: #2b2f40;
  font-weight: 500;
  line-height: 1.71;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

/* line 700, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item p {
  margin-bottom: 1.56vw;
}

/* line 703, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item__inner {
  display: none;
  position: relative;
  z-index: 10;
  margin-top: 0.31vw;
  padding: 0 0.75vw;
  opacity: 0;
  color: #fff;
  font-weight: 300;
  line-height: 1.29;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 715, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item:hover {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

/* line 718, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item:hover::before {
  opacity: 1;
}

/* line 721, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item:hover .stages__item__outer {
  background-color: transparent;
}

/* line 724, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item:hover h4 {
  color: #f8c957;
}

/* line 727, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.stages__item:hover .stages__item__inner {
  display: block;
  opacity: 1;
}

@media (max-width: 800px) {
  /* line 733, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .stages__item {
    min-height: 335px;
    max-height: 394px;
  }
}

/* line 741, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recommendations {
  padding: 5.69vw 39.06vw 8.625vw 15.125vw;
  background: url("../images/recommendations-bg-min.png") 80% 50%/cover;
}

/* line 744, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recommendations__wrap {
  max-width: 730px;
}

/* line 747, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recommendations h2 {
  margin-bottom: 2.625vw;
  font-size: 30px;
  font-size: 2.2vw;
  font-weight: 500;
  line-height: 0.8;
}

@media (max-width: 863.63636px) {
  /* line 747, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recommendations h2 {
    font-size: 19px;
  }
}

@media (min-width: 1590.90909px) {
  /* line 747, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recommendations h2 {
    font-size: 35px;
  }
}

/* line 753, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recommendations img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.94vw;
}

/* line 758, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recommendations h4 {
  margin-bottom: 1.625vw;
  font-weight: 500;
  line-height: 1.29;
}

/* line 763, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recommendations p {
  color: #8b8b8b;
  font-weight: 300;
  line-height: 1.71;
}

@media (min-width: 1300px) {
  /* line 769, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recommendations__wrap {
    margin: auto;
  }
}

@media (max-width: 950px) {
  /* line 741, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recommendations {
    padding-left: 1vw;
    background-position: 70% 50%;
  }
}

@media (max-width: 800px) {
  /* line 741, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recommendations {
    background-position: 60% 50%;
  }
}

@media (max-width: 520px) {
  /* line 741, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recommendations {
    padding-right: 1vw;
    background-position: 40% 50%;
  }
}

/* line 785, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recommendation:first-of-type {
  margin-bottom: 2.06vw;
}

/* line 790, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions {
  padding: 4.25vw;
}

/* line 792, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions__wrap {
  max-width: 922px;
  margin: auto;
}

/* line 796, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions h2 {
  margin-bottom: 3.375vw;
  font-size: 30px;
  font-size: 2.2vw;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

@media (max-width: 909.09091px) {
  /* line 796, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .questions h2 {
    font-size: 20px;
  }
}

@media (min-width: 1590.90909px) {
  /* line 796, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .questions h2 {
    font-size: 35px;
  }
}

/* line 803, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  max-width: 922px;
  margin: auto;
  padding: 3.25vw 5.94vw 3.69vw;
  box-shadow: 0px 14px 46px 0 rgba(0, 0, 0, 0.1);
}

/* line 813, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions__input {
  width: 47.9452%;
  margin-bottom: 2.81vw;
}

/* line 820, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions textarea {
  margin-bottom: 3.44vw;
}

/* line 824, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions__submit {
  width: 100%;
}

/* line 826, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions__submit input {
  display: block;
  width: 13.75vw;
  min-width: 110px;
  height: 2.94vw;
  min-height: 47px;
  margin: auto;
  background-color: transparent;
  border: solid 1px #f8c957;
  letter-spacing: 1.4px;
  line-height: 2.14;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 838, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions__submit input:hover {
  background-color: #f8c957;
}

/* line 843, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions .img-wrap {
  position: absolute;
  top: 3.875vw;
  right: -5vw;
  width: 8.25vw;
  max-width: 132px;
  height: 9vw;
  max-height: 144px;
}

@media (min-width: 1300px) {
  /* line 853, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .questions .img-wrap {
    right: -12vw;
  }
}

@media (max-width: 520px) {
  /* line 790, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .questions {
    padding: 4.25vw 0;
  }
  /* line 859, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .questions__input {
    -webkit-flex: 1 0 221px;
    flex: 1 0 221px;
  }
  /* line 862, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .questions .img-wrap {
    display: none;
  }
}

/* line 867, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.questions__input input, .questions textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
  font-weight: 300;
  line-height: 2.14;
}

/* line 878, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls {
  background: url("../images/img2-min.png") 50% 50%/cover rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  padding: 5vw 0 3.81vw 0;
  text-align: center;
}

/* line 883, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls__wrap {
  max-width: 1100px;
  margin: auto;
}

/* line 887, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls h2 {
  font-size: 22px;
  font-size: 2vw;
  line-height: 1.09;
  color: #fff;
}

@media (max-width: 850px) {
  /* line 887, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recalls h2 {
    font-size: 17px;
  }
}

@media (min-width: 1400px) {
  /* line 887, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recalls h2 {
    font-size: 28px;
  }
}

/* line 892, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls__container {
  position: relative;
  max-width: 730px;
  min-height: 261px;
  margin: auto;
  padding: 4vw 4vw 2.5vw;
  background-color: rgba(255, 255, 255, 0.88);
  line-height: 1.71;
}

/* line 900, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls__container *:focus {
  outline: 0;
}

/* line 904, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls p {
  position: relative;
  margin-bottom: 1.81vw;
  padding-left: 3.56vw;
  font-weight: 300;
}

/* line 909, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls p::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 31px;
  height: 25px;
  background: url("../images/left-quote-min.png") 100%/cover no-repeat;
}

/* line 919, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls .recall__author {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 923, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls .recall__author__name {
  font-weight: 700;
  text-transform: uppercase;
}

/* line 927, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls .recall__author__position {
  color: #8b8b8b;
  font-weight: 300;
}

/* line 932, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls .img-wrap {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 0.8125vw;
}

/* line 937, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.recalls .img-wrap img {
  border-radius: 50%;
}

@media (max-width: 800px) {
  /* line 942, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recalls p {
    padding-left: 31px;
  }
  /* line 944, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .recalls p::before {
    width: 25px;
    height: 21px;
  }
}

/* line 952, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.slick-arrow {
  position: absolute;
  width: 16px;
  height: 31px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 31px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

/* line 959, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.slick-arrow:hover, .slick-arrow:focus, .slick-arrow:active {
  color: #f2b809;
}

/* line 964, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.slick-arrow::before {
  content: "";
}

/* line 968, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.slick-prev {
  left: -10.75vw;
}

@media (max-width: 950px) {
  /* line 968, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .slick-prev {
    left: -2.5vw;
  }
}

/* line 974, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.slick-next {
  right: -10.75vw;
}

@media (max-width: 950px) {
  /* line 974, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .slick-next {
    right: -2.5vw;
  }
}

/* line 980, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.slick-dots {
  bottom: calc(-2.19vw - 26px);
  width: calc(100% - 8vw);
}

/* line 983, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.slick-dots li button:before {
  opacity: 1;
  color: rgba(255, 255, 255, 0.6);
  font-size: 9px;
}

/* line 988, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.slick-dots li.slick-active button::before {
  color: #eca606;
}

/* line 995, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices {
  padding: 7.19vw 1vw 9.94vw;
  text-align: center;
}

/* line 998, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices h2 {
  font-size: 22px;
  font-size: 1.375vw;
  font-weight: 700;
  line-height: 1.09;
  color: #29394a;
}

@media (max-width: 1309.09091px) {
  /* line 998, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices h2 {
    font-size: 18px;
  }
}

@media (min-width: 1818.18182px) {
  /* line 998, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices h2 {
    font-size: 25px;
  }
}

/* line 1004, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices .underline {
  margin-bottom: 1.06vw;
}

/* line 1007, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices p {
  margin-bottom: 8.625vw;
  font-size: 18px;
  font-size: 1.125vw;
  font-weight: 300;
  line-height: 1.33;
  color: #29394a;
}

@media (max-width: 1422.22222px) {
  /* line 1007, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices p {
    font-size: 16px;
  }
}

@media (min-width: 1777.77778px) {
  /* line 1007, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices p {
    font-size: 20px;
  }
}

/* line 1014, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 1019, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 351px;
  min-height: 357px;
  margin: 0 2.06vw;
  padding-bottom: 3.44vw;
  box-shadow: 0px 14px 18px 0 rgba(84, 84, 84, 0.07);
  -webkit-transition: box-shadow 0.7s;
  -moz-transition: box-shadow 0.7s;
  -o-transition: box-shadow 0.7s;
  transition: box-shadow 0.7s;
}

/* line 1029, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__item:hover, .prices__item:focus, .prices__item:active {
  box-shadow: 0px 34px 73px 0 rgba(84, 84, 84, 0.15);
}

/* line 1034, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__item:nth-of-type(1) .prices__marker::before {
  width: 46px;
  height: 46px;
  background-image: url("../images/apartment.svg");
}

/* line 1039, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__item:nth-of-type(2) .prices__marker::before {
  width: 51px;
  height: 40px;
  background-image: url("../images/house.svg");
}

/* line 1044, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__item:hover .square-scale__point.active,
.prices__item:focus .square-scale__point.active,
.prices__item:active .square-scale__point.active {
  color: #000;
}

/* line 1049, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__item:hover .square-scale__point.active .square-scale__point__diamond,
.prices__item:focus .square-scale__point.active .square-scale__point__diamond,
.prices__item:active .square-scale__point.active .square-scale__point__diamond {
  width: 13px;
  height: 13px;
}

/* line 1056, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__marker {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  top: -37.125px;
  width: 74.25px;
  height: 74.25px;
  background-color: #f8c957;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 1066, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices__marker::before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 1075, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices h4 {
  margin-bottom: 3.75vw;
  font-weight: 500;
  line-height: 2.14;
}

/* line 1080, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices .price {
  margin-top: auto;
  color: #010101;
}

/* line 1083, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices .price__num {
  font-size: 24px;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1.25;
}

@media (max-width: 1333.33333px) {
  /* line 1083, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices .price__num {
    font-size: 20px;
  }
}

@media (min-width: 1866.66667px) {
  /* line 1083, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices .price__num {
    font-size: 28px;
  }
}

/* line 1088, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.prices .price__currency {
  font-size: 18px;
  font-size: 1.125vw;
  font-weight: 300;
  line-height: 1.67;
}

@media (max-width: 1422.22222px) {
  /* line 1088, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices .price__currency {
    font-size: 16px;
  }
}

@media (min-width: 1777.77778px) {
  /* line 1088, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices .price__currency {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  /* line 1095, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices__item {
    min-height: initial;
  }
  /* line 1097, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices__item:first-of-type {
    margin-top: 30px;
    margin-bottom: 70px;
  }
  /* line 1102, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .prices .price {
    margin-top: 3vw;
  }
}

/* line 1111, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale {
  position: relative;
  width: 220px;
  height: 2px;
  margin-bottom: 3.375vw;
  background-color: #c9c9c9;
}

/* line 1117, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale__point {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  width: 10.5px;
  height: 10.5px;
  color: #aeaeae;
  font-size: 14px;
  font-size: 1.27vw;
  font-weight: 300;
  line-height: 2.14;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 1023.62205px) {
  /* line 1117, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .square-scale__point {
    font-size: 13px;
  }
}

@media (min-width: 1102.3622px) {
  /* line 1117, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .square-scale__point {
    font-size: 14px;
  }
}

/* line 1129, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale__point:nth-of-type(1) {
  left: 0;
}

/* line 1132, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale__point:nth-of-type(2) {
  left: 69px;
}

/* line 1135, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale__point:nth-of-type(3) {
  right: 69px;
}

/* line 1138, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale__point:nth-of-type(4) {
  right: 0;
}

/* line 1141, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale__point__diamond {
  position: absolute;
  top: 0;
  left: 0;
  width: 10.5px;
  height: 10.5px;
  background-color: #c9c9c9;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: width 0.3s, height 0.3s;
  -moz-transition: width 0.3s, height 0.3s;
  -o-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
}

/* line 1152, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale__point__label {
  padding-top: 1vw;
  white-space: nowrap;
}

/* line 1156, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.square-scale__point.active .square-scale__point__diamond {
  background-color: #f8c957;
}

@media (max-width: 800px) {
  /* line 1111, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .square-scale {
    margin-bottom: 40px;
  }
  /* line 1162, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .square-scale__point__label {
    padding-top: 10px;
  }
}

/* line 1170, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult {
  display: -webkit-flex;
  display: flex;
  min-height: 203px;
  background-color: #f8c23f;
}

/* line 1174, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult__wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  padding: 3.875vw 1.875vw 3.375vw;
}

/* line 1183, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult__description {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 46.15%;
}

/* line 1189, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult__form-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  width: 29.91%;
}

/* line 1195, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult h2 {
  margin-bottom: 1.375vw;
  padding-left: 0.94vw;
  border-left: 3px solid #fff;
  font-size: 24px;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1.25;
}

@media (max-width: 1333.33333px) {
  /* line 1195, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult h2 {
    font-size: 20px;
  }
}

@media (min-width: 1866.66667px) {
  /* line 1195, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult h2 {
    font-size: 28px;
  }
}

/* line 1203, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult p {
  color: #fff;
  font-size: 18px;
  font-size: 1.125vw;
  line-height: 1.33;
}

@media (max-width: 1244.44444px) {
  /* line 1203, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult p {
    font-size: 14px;
  }
}

@media (min-width: 1777.77778px) {
  /* line 1203, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult p {
    font-size: 20px;
  }
}

/* line 1208, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

/* line 1212, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult input[type="text"] {
  width: 21.79vw;
  min-width: 140px;
  max-width: 255px;
  height: 5.47vw;
  min-height: 35px;
  max-height: 64px;
  margin-right: 1.875vw;
  border: solid 1px #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-size: 1vw;
  line-height: 1.88;
  text-align: center;
}

@media (max-width: 1400px) {
  /* line 1212, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult input[type="text"] {
    font-size: 14px;
  }
}

@media (min-width: 1800px) {
  /* line 1212, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult input[type="text"] {
    font-size: 18px;
  }
}

/* line 1227, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult button {
  display: block;
  width: 5.56vw;
  min-width: 35px;
  max-width: 65px;
  height: 5.56vw;
  min-height: 35px;
  max-height: 65px;
  border: 0;
  background-color: #fff;
}

/* line 1237, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.consult button i {
  font-size: 34px;
  font-size: 2.91vw;
}

@media (max-width: 1030.92784px) {
  /* line 1237, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult button i {
    font-size: 30px;
  }
}

@media (min-width: 1305.84192px) {
  /* line 1237, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult button i {
    font-size: 38px;
  }
}

@media (max-width: 520px) {
  /* line 1242, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult__wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 1245, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult__description {
    margin-bottom: 20px;
  }
  /* line 1248, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult__description, .consult__form-container {
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
  }
  /* line 1253, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .consult input[type="text"] {
    width: 80vw;
  }
}

/* line 1261, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.footer {
  display: -webkit-flex;
  display: flex;
  min-height: 85px;
  background-color: #2b2f40;
  color: #fff;
}

/* line 1266, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.footer__wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  padding: 3.875vw 1.875vw 3.375vw;
}

/* line 1275, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.footer__logo {
  width: 160px;
  height: 30px;
}

/* line 1279, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
.footer i {
  width: 28px;
  height: 28px;
}

@media (max-width: 520px) {
  /* line 1284, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .footer__wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  /* line 1288, C:/Users/mak/Documents/WEB-Dev/1Platforma-energy-audit/scss/style.scss */
  .footer__logo {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=../css/style.map */