@import 'compass';
@import 'susy';
@import 'f:/Programs/WIN_Scout-App_2.12.12/Scout-App/bower_components/breakpoint-sass/stylesheets/breakpoint';

// Varibles

/// Fonts
$headings-font: 'Gotham Pro', sans-serif;
$regular-font: 'Proxima Nova', sans-serif;

/// Colors
$orange: #f8c957;
$orange2: #ffc016;
$orange3: #f3c12f;
$orange4: #f8c23f;
$grey1: #8b8b8b;
$grey2: #bababa;
$grey3: #c9c9c9;
$dark: #2b2f40;
$dark-blue: #35495f;
$dark-blue2: #29394a;

/// Sizes
$desktop-min-width: 1100px;

/// Breakpoints
$x-large: 1300px;
$large: max-width 950px;
$medium: max-width 800px;
$small: max-width 520px;

// Mixins

/// Viewport sized typography with minimum and maximum values
/// @author Eduardo Boucas (@eduardoboucas)
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}

// Fonts
@include font-face(
  'Gotham Pro',
  $font-files: (
    url("../fonts/GothamProBold.woff2") format('woff2'),
    url("../fonts/GothamProBold.woff") format('woff')
  ), $weight: 700,
  $style: normal
);
@include font-face(
  'Gotham Pro',
  $font-files: (
    url("../fonts/GothamProMedium.woff2") format('woff2'),
    url("../fonts/GothamProMedium.woff") format('woff')
  ), $weight: 500,
  $style: normal
);
@include font-face(
  'Proxima Nova',
  $font-files: (
    url("../fonts/ProximaNova-Bold.woff2") format('woff2'),
    url("../fonts/ProximaNova-Bold.woff") format('woff')
  ), $weight: 700,
  $style: normal
);
@include font-face(
  'Proxima Nova',
  $font-files: (
    url("../fonts/ProximaNova-Light.woff2") format('woff2'),
    url("../fonts/ProximaNova-Light.woff") format('woff')
  ), $weight: 300,
  $style: normal
);
@include font-face(
  'Proxima Nova',
  $font-files: (
    url("../fonts/ProximaNova-Regular.woff2") format('woff2'),
    url("../fonts/ProximaNova-Regular.woff") format('woff')
  ), $weight: 400,
  $style: normal
);


// General rules
@include global-reset;

* {
  box-sizing: border-box;
}
input, textarea {
  font: inherit;
}

$susy: (
  gutter-position: inside,
  columns: 12,
  gutters: .2308,
  global-box-sizing: border-box
);

body {
  overflow-x: hidden;
  background-color: #fff;
  font: 400 14px/1.2 $regular-font; // 14px
  @include responsive-font(1.27vw, 13px, 15px, 14px);
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h4,
nav,
input[type="submit"] {
  font-family: $headings-font;
  text-transform: uppercase;
}
h1,
h2,
h4,
input[type="submit"] {
  font-weight: 700;
}
input[type="submit"],
button {
  cursor: pointer;
}
img {
  width: 100%;
}
.underline {
  position: relative;
  width: 4px;
  height: 4px;
  margin: 1vw auto 3.125vw;
  border-radius: 50%;
  background-color: #f8c957;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 65px;
    height: 1px;
    background-color: #f8c957;
  }
  &::before {
    left: 425%;
  }
  &::after {
    right: 425%;
  }
}

// Header + Main
.header-main-wrap {
  padding: 1.44vw 1vw 4.69vw;
  background: url("../images/1-min.png") 100% 50% / cover;
  color: #fff;
  @include breakpoint($medium) {
    background-position-x: 90%;
  }
  @include breakpoint($small) {
    background-position-x: 65%;
  }
}
header {
  @include display-flex;
  @include flex-flow(row wrap);
  @include align-items(center);
  max-width: $desktop-min-width;
  margin: auto;
  @include breakpoint($small) {
    @include flex-direction(column);
  }
}
.logo {
  display: block;
  width: span(2);
  min-width: 150px;
  margin-right: span(1) + gutter();
  @include breakpoint($medium) {
    margin-right: 2vw;
  }
  @include breakpoint($small) {
    margin: auto;
    margin-bottom: 2vw;
  }
}
nav {
  li {
    display: inline-block;
    padding-right: 3vw;
    text-align: center;
    a {
      border-bottom: 1px solid transparent;
      line-height: 2.143;
      @include transition(border-bottom 0.3s);
      &:hover {
        border-bottom: 1px solid $orange2;
      }
    }
  }
  @include breakpoint($x-large) {
    li {
      padding-right: 49px;
    }
  }
  @include breakpoint($medium) {
    margin-left: auto;
    li:last-of-type {
      padding-right: 0;
    }
  }
  @include breakpoint($small) {
    margin: auto;
  }
}
.contacts {
  @include display-flex;
  @include align-items(center);
  margin-left: auto;
  font-weight: 300;
  line-height: 2.14;
  a {
    @include display-flex;
    @include align-items(center);
    @include transition(color 0.3s);
    &:not(:first-of-type) {
      margin-left: 2vw;
    }
    &:hover {
      color: #dedede;
    }
  }
  @include breakpoint($medium) {
    margin-left: auto;
  }
  @include breakpoint($small) {
    margin: auto;
    margin-top: 2vw;
  }
}
.icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 0.94vw;
}
.icon.tel {
  background: url(../images/phone-call.svg);
}
.icon.email {
  background: url(../images/envelope.svg);
}

main {
  max-width: $desktop-min-width;
  margin: 10.31vw auto 0;
}
h1 {
  @include responsive-font(5.45vw, 33px, 100px, 60px); // 60px
  letter-spacing: 3px;
  line-height: 0.5;
  margin-bottom: 1.62vw;
}
h3 {
  @include responsive-font(2.18vw, 16px, 50px, 24px); // 24px
  padding-right: 17vw;
}
.main__consult {
  position: relative;
  width: 27.81vw;
  min-width: 495px;
  margin-top: 5.94vw;
  padding: 2.44vw 1.88vw 2.13vw;
  box-shadow: 3px 10px 50px #000;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($dark, 0.45);
    mix-blend-mode: multiply;
  }
  h4 {
    color: $orange;
    margin-bottom: 2.13vw;
    @include responsive-font(1.26vw, 13px, 20px, 14px);
    letter-spacing: 0.7px;
    line-height: 1.71;
    text-align: center;
  }
  form {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    position: relative;
  }
  input {
    display: block;
    width: 46%;
    min-width: 200px;
    min-height: 35px;
    color: inherit;
  }
  input[type="text"] {
    margin-bottom: calc(2vw - 5px);
    padding: 5px;
    border: none;
    background: transparent;
    font: inherit;
    font-weight: 300;
    text-align: center;
  }
  input[type="submit"] {
    padding: 1vw;
    border: 1px solid $orange3;
    background-color: transparent;
    @include transition(background-color 0.3s);
    &:hover {
      background-color: $orange3;
    }
  }
  @include breakpoint($x-large) {
    min-width: 615px;
  }
  @include breakpoint($medium) {
    min-width: 400px;
  }
  @include breakpoint($small) {
    width: 100%;
    min-width: initial;
  }
}

// Advantages section
.advantages {
  padding: 9vw 0 11.44vw 0;
  &__wrap {
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    max-width: $desktop-min-width;
    margin: auto;
  }
  .img-wrap {
    width: 62px;
    height: 62px;
    margin: auto;
  }
  p {
    color: $grey1;
  }
}
.advantage {
  width: calc(25% - 2 * 1.88vw);
  min-width: 222px;
  text-align: center;
  cursor: default;
  &:hover .img-wrap,
  &:hover h4 {
    @include transform(translateY(-5px));
  }
  &:hover .line {
    width: 7.88vw;
  }
  &:hover p {
    @include transform(translateY(5px));
  }
  .img-wrap {
    margin-bottom: 1.56vw;
    @include transition(transform 0.3s);
  }
  h4 {
    text-align: center;
    white-space: nowrap;
    @include transition(transform 0.3s);
  }
  .line {
    width: 1.94vw;
    height: 1px;
    margin: 1.2vw auto 1.06vw;
    background: $orange;
    @include transition(width 0.3s);
  }
  p {
    font-weight: 300;
    @include transition(transform 0.3s);
  }
  @include breakpoint($large) {
    margin-bottom: 2vw;
  }
}

// What section
.what {
  position: relative;
  height: 425px;
  background-image: url(../images/home-1-min.png);
  color: #fff;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 89%;
    max-width: 980px;
    border-radius: 8%;
    @include transform(translateX(-50%));
  }
  &__wrap {
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
    position: absolute;
    top: -3vw;
    bottom: -3vw;
    left: 50%;
    width: 89%;
    max-width: 980px;
    padding: 6.125vw 4.875vw 5.9375vw 5.9375vw;
    box-shadow: 0 23px 90px 10px rgba(0, 0, 0, 0.25);
    background-color: $dark;
    @include transform(translateX(-50%));
  }
  h2 {
    margin-bottom: 2.06vw;
    color: $orange;
    font-weight: 500;
    @include responsive-font(1.5vw, 18px, 28px, 24px);
    line-height: 0.75;
  }
  .img-wrap {
    width: 40.2%;
    max-width: 334px;
  }
  @include breakpoint($x-large) {
    &__wrap {
      padding: 98px 78px 95px 98px;
    }
    h2 {
      margin-bottom: 30px;
    }
  }
  @include breakpoint($large) {
    &__wrap {
      width: 90%;
    }
  }
  @include breakpoint($medium) {
    height: auto;
    &__wrap {
      position: static;
      width: 100%;
      @include transform(translateX(0));
    }
    .img-wrap {
      @include order(1);
      width: 100%;
      max-width: 260px;
      margin: auto;
      margin-bottom: 2vw;
    }
  }
}
/// Accordion specific styles
.ui-accordion .ui-accordion-header {
  margin: 0;
  padding: 0;
  padding-left: calc(18px + 1.06vw);
  @include responsive-font(1.125vw, 16px, 19px, 18px);
  line-height: 1.1;
  outline: 0;
  @include breakpoint($x-large) {
    padding-left: 38px;
  }
}
.ui-icon {
  position: absolute;
  top: 10px;
  left: 0;
  &.iconOpen {
    background: url('../images/arrow-up-min.png') no-repeat;
    background-size: 18px;
    width: 18px;
    height: 13px;
  }
  &.iconClosed {
    background: url('../images/arrow-down-min.png') no-repeat;
    background-size: 18px;
    width: 18px;
    height: 13px;
  }
}
.ui-accordion .ui-accordion-content {
  position: relative;
  left: -0.125vw;
  padding: 0;
  padding-top: 1.125vw;
  color: $grey2;
  font-weight: 300;
  @include breakpoint($x-large) {
    padding-top: 18px;
  }
}
.accordion-container {
  width: 56.5%;
  @include breakpoint($medium) {
    @include order(2);
    width: 100%;
  }
}
.accordion h3 {
  margin-bottom: 2.06vw;
  &:not(:first-of-type) {
    margin-top: 2.43vw;
  }
  @include breakpoint($x-large) {
    margin-bottom: 33px;
    &:not(:first-of-type) {
      margin-top: 35px;
    }
  }
}

// How section
.how {
  padding: 8.19vw 0 7.56vw;
  background: #f5f5f5;
  &__wrap {
    max-width: 980px;
    margin: auto;
  }
  h2 {
    color: $dark-blue;
    @include responsive-font(2vw, 17px, 28px, 22px);
    text-align: center;
  }
  &__items {
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
  }
  &__item {
    width: 35.71%;
    max-width: 350px;
    min-width: 300px;
    margin: 0 auto 3.875vw;
    text-align: center;
    &__marker {
      margin-bottom: 1.625vw;
      color: $orange;
      font: 700 100px/0.7 $headings-font;
      img {
        position: relative;
        width: 47px;
        height: 47px;
        margin-left: -50px;
      }
    }
    &:nth-of-type(1) img {
      bottom: 3px;
      left: 2px;
    }
    &:nth-of-type(2) img {
      bottom: 1px;
      left: -9px;
    }
    &:nth-of-type(3) img {
      bottom: -9px;
      left: -8px;
    }
    &:nth-of-type(4) img {
      bottom: -1px;
      left: -6px;
    }
    h4 {
      margin-bottom: 2.125vw;
      font-weight: 500;
    }
    p {
      color: $grey1;
      font-weight: 300;
    }
  }
}

// Stages section
.stages {
  padding-top: 5.69vw;
  @include responsive-font(1.27vw, 13px, 14px, 14px);
  text-align: center;
  &__wrap {
    max-width: 1600px;
    margin: auto;
  }
  h2 {
    color: $dark-blue;
    @include responsive-font(2vw, 17px, 28px, 22px);
  }
  &__items {
    @include display-flex;
    @include flex-flow(row wrap);
    counter-reset: stages;
  }
  &__item {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include flex(1 0 300px);
    position: relative;    
    height: 394px;
    &:nth-of-type(1) {
      background: url("../images/fz-261-zdaniya-i-sooruzheniya-min.png") 50% 50%/cover;
    }
    &:nth-of-type(2) {
      background: url("../images/1482764794-min.png") 50% 50%/cover;
    }
    &:nth-of-type(3) {
      background: url("../images/practice_03-L43-1024x768-min.png") 50% 50%/cover;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      background-color: transparentize($dark, 0.09);
      opacity: 0;
      @include transition(opacity 0.3s);
    }
    &__outer {
      @include display-flex;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(space-around);
      position: relative;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.73);
      width: 100%;
      min-height: 120px;
      @include transition(background-color 0.3s);
    }
    &__marker {
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);
      position: relative;
      top: 7px;
      width: 44px;
      height: 44px;
      background-color: $orange4;
      color: #fff;
      font: 700 24px/1 $headings-font;
      @include transform(rotate(45deg));
      &::before {
        content: counter(stages);
        counter-increment: stages;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        @include transform(rotate(-45deg));
      }
    }
    h4 {
      color: $dark;
      font-weight: 500;
      line-height: 1.71;
      @include transition(color 0.3s);
    }
    p {
      margin-bottom: 1.56vw;
    }
    &__inner {
      display: none;
      position: relative;
      z-index: 10;
      margin-top: 0.31vw;
      padding: 0 0.75vw; // 0 3.75vw
      opacity: 0;
      color: #fff;
      font-weight: 300;
      line-height: 1.29;
      @include transition(opacity 0.3s);
    }
    &:hover {
      @include justify-content(flex-start);
    }
    &:hover::before {
      opacity: 1;
    }
    &:hover &__outer {
      background-color: transparent;
    }
    &:hover h4 {
      color: $orange;
    }
    &:hover &__inner {
      display: block;
      opacity: 1;
    }
  }
  @include breakpoint($medium) {
    &__item {
      min-height: 335px;
      max-height: 394px;
    }
  }
}

// Recommendations section
.recommendations {
  padding: 5.69vw 39.06vw 8.625vw 15.125vw;
  background: url("../images/recommendations-bg-min.png") 80% 50%/cover;
  &__wrap {
    max-width: 730px;
  }
  h2 {
    margin-bottom: 2.625vw;
    @include responsive-font(2.2vw, 19px, 35px, 30px);
    font-weight: 500;
    line-height: 0.8;
  }
  img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.94vw;
  }
  h4 {
    margin-bottom: 1.625vw;
    font-weight: 500;
    line-height: 1.29;
  }
  p {
    color: $grey1;
    font-weight: 300;
    line-height: 1.71;
  }
  @include breakpoint($x-large) {
    &__wrap {
      margin: auto;
    }
  }
  @include breakpoint($large) {
    padding-left: 1vw;
    background-position: 70% 50%;
  }
  @include breakpoint($medium) {
    background-position: 60% 50%;
  }
  @include breakpoint($small) {
    padding-right: 1vw;
    background-position: 40% 50%;
  }
}
.recommendation:first-of-type {
  margin-bottom: 2.06vw;
}

// Questions section
.questions {
  padding: 4.25vw;
  &__wrap {
    max-width: 922px;
    margin: auto;
  }
  h2 {
    margin-bottom: 3.375vw;
    @include responsive-font(2.2vw, 20px, 35px, 30px);
    font-weight: 500;
    line-height: 1;
    text-align: center;
  }
  form {
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
    position: relative;
    max-width: 922px; // 730
    margin: auto;
    padding: 3.25vw 5.94vw 3.69vw;
    box-shadow: 0px 14px 46px 0 rgba(0, 0, 0, 0.1);
  }
  &__input {
    width: 47.9452%;
    margin-bottom: 2.81vw;
    input {
      @extend %input;
    }
  }
  textarea {
    @extend %input;
    margin-bottom: 3.44vw;
  }
  &__submit {
    width: 100%;
    input {
      display: block;
      width: 13.75vw;
      min-width: 150px;
      height: 2.94vw;
      min-height: 47px;
      margin: auto;
      background-color: transparent;
      border: solid 1px $orange;
      letter-spacing: 1.4px;
      line-height: 2.14;
      @include transition(background-color 0.3s);
      &:hover {
        background-color: $orange;
      }
    }
  }
  .img-wrap {
    position: absolute;
    top: 3.875vw;
    right: -5vw;
    width: 8.25vw;
    max-width: 132px;
    height: 9vw;
    max-height: 144px;
  }
  @include breakpoint($x-large) {
    .img-wrap {
      right: -12vw;
    }
  }
  @include breakpoint($small) {
    padding: 4.25vw 0;
    &__input {
      @include flex(1 0 221px);
    }
    .img-wrap {
      display: none;
    }
  }
}
%input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
  font-weight: 300;
  line-height: 2.14;
}


// Recalls section
.recalls {
  background: url("../images/img2-min.png") 50% 50%/cover rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  padding: 5vw 0 3.81vw 0;
  text-align: center;
  &__wrap {
    max-width: $desktop-min-width;
    margin: auto;
  }
  h2 {
    @include responsive-font(2vw, 17px, 28px, 22px);
    line-height: 1.09;
    color: #fff;
  }
  &__container {
    position: relative;
    max-width: 730px;
    min-height: 261px;
    margin: auto;
    padding: 4vw 4vw 2.5vw;
    background-color: rgba(255, 255, 255, 0.88);
    line-height: 1.71;
    *:focus {
      outline: 0;
    }
  }
  p {
    position: relative;
    margin-bottom: 1.81vw;
    padding-left: 3.56vw;
    font-weight: 300;
    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      width: 31px;
      height: 25px;
      background: url("../images/left-quote-min.png") 100%/cover no-repeat;
    }
  }
  .recall__author {
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    &__name {
      font-weight: 700;
      text-transform: uppercase;
    }
    &__position {
      color: $grey1;
      font-weight: 300;
    }
  }
  .img-wrap {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 0.8125vw;
    img {
      border-radius: 50%;
    }
  }
  @include breakpoint($medium) {
    p {
      padding-left: 31px;
      &::before {
        width: 25px;
        height: 21px;
      }
    }
  }
}
/// Slick carousel
.slick-arrow {
  position: absolute;
  width: 16px;
  height: 31px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 31px;
  @include transition(color 0.3s);
  &:hover,
  &:focus,
  &:active {
    color: #f2b809;
  }
  &::before {
    content: "";
  }
}
.slick-prev {
  left: -10.75vw;
  @include breakpoint($large) {
    left: -2.5vw;
  }
}
.slick-next {
  right: -10.75vw;
  @include breakpoint($large) {
    right: -2.5vw;
  }
}
.slick-dots {
  bottom: calc(-2.19vw - 26px);
  width: calc(100% - 8vw);
  li button:before {
    opacity: 1;
    color: rgba(255, 255, 255, 0.6);
    font-size: 9px;
  }
  li.slick-active button::before {
    color: #eca606;
  }
}


// Prices section
.prices {
  padding: 7.19vw 1vw 9.94vw;
  text-align: center;
  h2 {
    @include responsive-font(1.375vw, 18px, 25px, 22px);
    font-weight: 700;
    line-height: 1.09;
    color: $dark-blue2;
  }
  .underline {
    margin-bottom: 1.06vw;
  }
  p {
    margin-bottom: 8.625vw;
    @include responsive-font(1.125vw, 16px, 20px, 18px);
    font-weight: 300;
    line-height: 1.33;
    color: $dark-blue2;
  }
  &__container {
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(center);
  }
  &__item {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    width: 351px;
    min-height: 357px;
    margin: 0 2.06vw;
    padding-bottom: 3.44vw;
    box-shadow: 0px 14px 18px 0 rgba(84, 84, 84, 0.07);
    @include transition(box-shadow 0.7s);
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 34px 73px 0 rgba(84, 84, 84, 0.15);
    }
    &:nth-of-type(1) .prices__marker::before {
      width: 46px;
      height: 46px;
      background-image: url("../images/apartment.svg");
    }
    &:nth-of-type(2) .prices__marker::before {
      width: 51px;
      height: 40px;
      background-image: url("../images/house.svg");
    }
    &:hover .square-scale__point.active,
    &:focus .square-scale__point.active,
    &:active .square-scale__point.active {
      color: #000;
    }
    &:hover .square-scale__point.active .square-scale__point__diamond,
    &:focus .square-scale__point.active .square-scale__point__diamond,
    &:active .square-scale__point.active .square-scale__point__diamond {
      width: 13px;
      height: 13px;
    }
  }
  &__marker {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    top: -37.125px;
    width: 74.25px;
    height: 74.25px;
    background-color: $orange;
    @include transform(rotate(45deg));
    &::before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      left: 0;
      @include transform(rotate(-45deg));
    }
  }
  h4 {
    margin-bottom: 3.75vw;
    font-weight: 500;
    line-height: 2.14;
  }
  .price {
    margin-top: auto;
    color: #010101;
    &__num {
      @include responsive-font(1.5vw, 20px, 28px, 24px);
      font-weight: 700;
      line-height: 1.25;
    }
    &__currency {
      @include responsive-font(1.125vw, 16px, 20px, 18px);
      font-weight: 300;
      line-height: 1.67;
    }
  }
  @include breakpoint($medium) {
    &__item {
      min-height: initial;
      &:first-of-type {
        margin-top: 30px;
        margin-bottom: 70px;
      }
    }
    .price {
      margin-top: 3vw;
    }
  }
  @include breakpoint($small) {
    
  }
}
/// Square-scale
.square-scale {
  position: relative;
  width: 220px;
  height: 2px;
  margin-bottom: 3.375vw;
  background-color: $grey3;
  &__point {
    @include display-flex;
    @include justify-content(center);
    position: absolute;
    top: -5px;
    width: 10.5px;
    height: 10.5px;
    color: #aeaeae;
    @include responsive-font(1.27vw, 13px, 14px, 14px);
    font-weight: 300;
    line-height: 2.14;
    @include transition(color 0.3s);
    &:nth-of-type(1) {
      left: 0;
    }
    &:nth-of-type(2) {
      left: 69px;
    }
    &:nth-of-type(3) {
      right: 69px;
    }
    &:nth-of-type(4) {
      right: 0;
    }
    &__diamond {
      position: absolute;
      top: 0;
      left: 0;
      width: 10.5px;
      height: 10.5px;
      background-color: $grey3;
      cursor: pointer;
      @include transform(rotate(45deg));
      @include transition(width 0.3s, height 0.3s);
    }
    &__label {
      padding-top: 1vw;
      white-space: nowrap;
    }
    &.active &__diamond {
      background-color: $orange;
    }
  }
  @include breakpoint($medium) {
    margin-bottom: 40px;
    &__point__label {
      padding-top: 10px;
    }
  }
}


// Consult section
.consult {
  @include display-flex;
  min-height: 203px;
  background-color: $orange4;
  &__wrap {
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding: 3.875vw 1.875vw 3.375vw;
  }
  &__description {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    width: 46.15%;
  }
  &__form-container {
    @include display-flex;
    @include align-items(center);
    @include justify-content(flex-end);
    width: 29.91%;
  }
  h2 {
    margin-bottom: 1.375vw;
    padding-left: 0.94vw;
    border-left: 3px solid #fff;
    @include responsive-font(1.5vw, 20px, 28px, 24px);
    font-weight: 700;
    line-height: 1.25;
  }
  p {
    color: #fff;
    @include responsive-font(1.125vw, 14px, 20px, 18px);
    line-height: 1.33;
  }
  form {
    @include display-flex;
    @include flex-flow(row nowrap);
  }
  input[type="text"] {
    width: 21.79vw;
    min-width: 140px;
    max-width: 255px;
    height: 5.47vw;
    min-height: 35px;
    max-height: 64px;
    margin-right: 1.875vw;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    @include responsive-font(1vw, 14px, 18px, 16px);
    line-height: 1.88;
    text-align: center;
  }
  button {
    display: block;
    width: 5.56vw;
    min-width: 35px;
    max-width: 65px;
    height: 5.56vw;
    min-height: 35px;
    max-height: 65px;
    border: 0;
    background-color: #fff;
    i {
      @include responsive-font(2.91vw, 30px, 38px, 34px);
    }
  }
  @include breakpoint($small) {
    &__wrap {
      @include flex-direction(column);
    }
    &__description {
      margin-bottom: 20px;
    }
    &__description,
    &__form-container {
      @include justify-content(center);
      width: 100%;
    }
    input[type="text"] {
      width: 80vw;
    }
  }
}


// Footer
.footer {
  @include display-flex;
  min-height: 85px;
  background-color: $dark;
  color: #fff;
  &__wrap {
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding: 3.875vw 1.875vw 3.375vw;
  }
  &__logo {
    width: 160px;
    height: 30px;
  }
  i {
    width: 28px;
    height: 28px;
  }
  @include breakpoint($small) {
    &__wrap {
      @include flex-direction(column);
      @include align-items(center);
    }
    &__logo {
      margin-bottom: 20px;
    }
  }
}